    <section>
        <div class="margen">
            <div class="Forms">
                <div class="Login">
                    <h2>Login</h2>
                <form action="/form" method="POST">
                    <div class="Input">
                        <input type="text" name="userMail" class="username" placeholder="Usuario o Correo"required>
                        <hr>
                    </div>
                    
                    <div class="Input">
                        <input type="password" name="pass" class="pass" placeholder="Contraseña" required>
                        <hr>
                    </div>
            
                    
                    <input type="submit" value="Acceder ">
                </form>
                </div>
                
                <div class="Barrita">

                </div>

                <div class="Register">
                    <h2>Register</h2>
                <form action="/add" method="POST">
                    <div class="Input">
                        <input type="text" name="User" class="username" placeholder="Usuario" required>
                        <hr>
                    </div>
    
                    <div class="Input">
                        <input type="mail" name="Mail" class="mail" placeholder="Correo" required>
                        <hr>
                    </div>
            
                    <div class="Input">
                        <input type="password" name="Password" class="pass" placeholder="Contraseña" required>
                        <hr>
                    </div>
            
                    <input type="submit" value="Registrar">
                    
                </form>
                </div>

            </div>
        </div>
        <button onclick="topFunction()" id="myBtn">
            <img src="Imagenes/up_white.png">
            </button>
    </section>