    <section>
        <div class="margen-productos">
            <div class="Submenu">
                <h3>Categorias:</h3>
                <ul>
                    <li>
                        <a href="#Consolas">
                            Consolas
                        </a>
                    </li>

                    <li>
                        <a href="#Juegos">
                            Juegos
                        </a>
                    </li>

                    <li>
                        <a href="#Computadoras/Laptops">
                            Computadoras/Laptops
                        </a>
                    </li>
                    
                    <li><a href="#Periféricos">
                        Periféricos
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="titulos">
                <h2 id="Consolas">Consolas</h2>
            </div>

            <div class="DivPro">
                <div>
                    <img src="Imagenes/Productos/PS5.jpg">
                    <h3 class="Precio">RD$60,000.00</h3>
                </div>

                <div>
                    <img src="Imagenes/Productos/Nintendo Switch.jpg">
                    <h3 class="Precio">RD$22,000.00</h3>                
                </div>

                <div>
                    <img src="Imagenes/Productos/xbox series x.jpg">
                    <h3 class="Precio">RD$45,000.00</h3>                
                </div>
            </div>

            <div class="titulos">
                <h2 id="Juegos">Juegos</h2>
            </div>

            <div class="DivPro">
                <div>
                    <img class="imgfix" src="Imagenes/Productos/GTA V.jpg">
                    <h3 class="Precio">RD$1,700.00</h3>
                </div>

                <div>
                    <img class="imgfix" src="Imagenes/Productos/Zelda.jpg">
                    <h3 class="Precio">RD$3,600.00</h3>                
                </div>

                <div>
                    <img class="imgfix" src="Imagenes/Productos/Minecraft.jpg">
                    <h3 class="Precio">RD$1,500.00</h3>                
                </div>
            </div>

            <div class="titulos">
                <h2 id="Computadoras/Laptops">Computadoras/Laptops</h2>
            </div>

            <div class="DivPro">
                <div>
                    <img src="Imagenes/Productos/Titan.png">
                    <h3 class="Precio">RD$120,000.00</h3>
                </div>

                <div>
                    <img src="Imagenes/Productos/microondas.jpg">
                    <h3 class="Precio">RD$30,000.00</h3>                
                </div>

                <div>
                    <img src="Imagenes/Productos/Planta nuclear.jpg">
                    <h3 class="Precio">RD$80,000.00</h3>                
                </div>
            </div>

            <div class="titulos">
                <h2 id="Periféricos">Periféricos</h2>
            </div>

            <div class="DivPro">
                <div>
                    <img src="Imagenes/Productos/Audifonos.png">
                    <h3 class="Precio">2,300.00$</h3>
                </div>

                <div>
                    <img src="Imagenes/Productos/Mouse.png">
                    <h3 class="Precio">2,900.00$</h3>                
                </div>

                <div>
                    <img src="Imagenes/Productos/Teclado.jpg">
                    <h3 class="Precio">2,500.00$</h3>                
                </div>
            </div>
        </div>
        <button onclick="topFunction()" id="myBtn">
            <img src="Imagenes/up_white.png">
        </button>
    </section>

    <div id="Anuncio">
        <img src="Imagenes/Productos/Practica-7(anuncio-2).gif">
    </div>