    <section class="Contactos">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d946.20646379616!2d-69.93465746626399!3d18.446214349403768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTjCsDI2JzQ2LjMiTiA2OcKwNTYnMDQuNSJX!5e0!3m2!1ses-419!2sdo!4v1622041410969!5m2!1ses-419!2sdo" width="1366" height="391" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        <div class="Info">
            <div class="Telefono">
                <h2>Teléfonos</h2>
                <p>809-457-7794</p>
                <p>809-448-5789</p>
            </div>
    
            <div class="Dirreccion">
                <h2>Dirrección</h2>
                <p>Estamos ubicados en la Avenida Italia #3 (Casi esq. independencia) , Sector honduras, Santo Domingo, República Dominicana.</p>
            </div>
    
            <div class="Horario">
                <h2>Horario</h2>
                <p>De Lunes a Viernes 9:00am a 6:00pm & Sabados 9:00am a 1:00pm. (Domingos y dias feriados, estaremos cerrados)</p>
            </div>
        </div>

        <a href="mailto:SE_GAMES@gmail.com" target="_blank">
            <div>
                Enviar un correo
            </div>
        </a>
        <button onclick="topFunction()" id="myBtn">
            <img src="Imagenes/up_white.png">
            </button>
    </section>