    <ul>
        <li><a href="#">Política de Privacidad</a></li>
        <li><a href="#">Política de Coockies</a></li>
        <li><a href="#">Advertencias Legales</a></li>
    </ul>

    <div class="Redes">
        <a href="https://www.facebook.com/">
            <img src="Imagenes/header-footer/facebook_f_96px.png" alt="Facebook">
        </a>

        <a href="https://www.instagram.com/">
            <img src="Imagenes/header-footer/instagram_96px.png" alt="Instagram">
        </a>

        <a href="https://twitter.com/">
            <img src="Imagenes/header-footer/twitter_squared_96px.png" alt="Twitter">
        </a>

        <a href="https://www.youtube.com/">
            <img src="Imagenes/header-footer/youtube_96px.png" alt="Youtube">
        </a>
    </div>