    <div class="header">
        <div class="Logo">
            <a href="/"><img src="Imagenes/Logo.png" alt="Log"></a>
        </div>        
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/Nosotros">Sobre nosotros</a></li>
                <li><a href="/Productos">Productos</a></li>
                <li><a href="/Contactos">Contactos</a></li>
            </ul>
        </nav>
        
        <div class="Cuenta">
            <a href="/Cuenta">
                <div class="CuentaDiv">
                    Cuenta
                </div>
            </a>
        </div>
    </div>