<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/Head'); %>
</head>
<body>

    <header>
        <%- include('../partials/Header'); %>
    </header>

    <main>
        <%- include('../partials/BodyIndex'); %>
    </main>

    <footer>
        <%- include('../partials/Footer'); %>
    </footer>
</body>

<script src="./scripts/script.js"></script>
</html>